<div class="component__inner m-gmcq__inner" role="region" aria-label="{{_globals._components._gmcq.ariaRegion}}">

  {{> component this}}

  <div class="component__widget m-gmcq__widget{{#unless _isEnabled}} is-disabled{{#if _isInteractionComplete}} is-complete is-submitted show-user-answer{{#if _isCorrect}} is-correct{{/if}}{{/if}}{{/unless}}">

    {{#each _items}}
    <div class="m-gmcq__item js-mcq-item item-{{@index}}{{#unless ../_isEnabled}}{{#if ../_canShowMarking}}{{#if _isCorrect}} is-correct{{else}} is-incorrect{{/if}}{{/if}}{{/unless}}">

      <input class="m-gmcq__item-input js-mcq-item-input" type="checkbox" id="{{../_id}}-{{@index}}" {{#unless ../_isEnabled}} disabled{{/unless}} aria-label="{{a11y_normalize text}} {{_graphic.alt}}"/>
      <label class="m-gmcq__item-label js-mcq-item-label{{#unless ../_isEnabled}} is-disabled{{/unless}}{{#if _isSelected}} is-selected{{/if}} a11y-ignore" id="{{../_id}}-{{@index}}-aria" for="{{../_id}}-{{@index}}" aria-hidden="true" tabindex="-1">

        <img class="m-gmcq__item-image" src="{{_graphic.src}}" data-large="{{_graphic.large}}" data-small="{{_graphic.small}}"/>

        {{#if _graphic.attribution}}
        <div class="m-gmcq__item-attribution">
          <div class="m-gmcq__item-attribution-inner">
            {{{_graphic.attribution}}}
          </div>
        </div>
        {{/if}}

        <div class="m-gmcq__item-option gmcq-item-checkbox">

          <div class="m-gmcq__item-state gmcq-item-state">

            <div class="m-gmcq__item-icon m-gmcq__item-answer-icon{{#if ../_isRadio}} is-radio{{else}} is-checkbox{{/if}}">
              <div class="icon"></div>
            </div>

            <div class="m-gmcq__item-icon m-gmcq__item-correct-icon">
              <div class="icon"></div>
            </div>

            <div class="m-gmcq__item-icon m-gmcq__item-incorrect-icon">
              <div class="icon"></div>
            </div>

          </div>

          <div class="m-gmcq__item-text">
            <div class="m-gmcq__item-text-inner">
              {{{text}}}
            </div>
          </div>

        </div>

      </label>

    </div>
    {{/each}}

  </div>

  <div class="btn__container"></div>

</div>
